.game-info {
    flex: 1;
    overflow-y: auto;
}

.round-results {
    justify-content: space-between;
}

.results-list {
    max-height: 25vh;
    overflow-y: hidden;
    margin-top: 5px;
}

.active-card {
    height: 35vh;
    width: inherit;
    object-fit: cover;
}

.card-result {
    display: flex;
    flex-direction: row;
}

.card-wrapper {
    margin: 0 5px;
}

.players-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vh;
    z-index: 999;
}

.voted-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.voted-players.two-columns {
    width: 10vh;
}

.users-points {
    margin: 10px 0;
}

.forward {
    color: #adff98;
}

.back {
    color: #ff9898;
}

