.game-info {
    flex: 1;
    overflow-y: auto;
}

.round-results {
    justify-content: space-between;
}

.results-list {
    max-height: 25vh;
    overflow-y: hidden;
    margin-top: 5px;
}

.card-wrapper {
    position: relative;
    width: 23.35vh;
    margin: 0 auto;
}

.active-card {
    height: 35vh;
    width: inherit;
    object-fit: cover;
}

.voted-players {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: -7vh;
}

.users-points {
    margin: 10px 0;
}

.forward {
    color: #adff98;
}

.back {
    color: #ff9898;
}

