.game-info {
    flex: 1;
    overflow-y: auto;
}

.player-card {
    display: flex;
    align-items: center;
    padding: 10px;
}

.player {
    width: 5vh;
    height: 5vh;
    z-index: 200;
    top: 0vh;
    left: 0vh;
    margin-right: 10px;
}

.player img {
    width: inherit;
    height: inherit;
}