.game-board-screen {
    flex-direction: column-reverse;
}

.game-board {
    flex: 1 1;
    position: absolute;
    z-index: 100;
    top: 0px;

    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #151a22;
    max-width: 400px;
}

.board-background {
    height: 88vh;
    background-color: #151a22;
}

.point {
    /* position: absolute; */
    /* width: 63px;
    height: 40px; */
    border: 2px solid lightblue;
    border-radius: 12px;
    background-color: #f0f8ff1a;
    display: flex;
    color: lightblue;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* */

    width: 8vh;
    height: 8vh;
    margin: 1vh;

    color: #add8e682;
    background-color: #f0f8ff14;
    background-color: #f0f8ff0a;
    border: 1px solid transparent;

}

.point-number {
    position: absolute;
}

.player {
    width: 6vh;
    height: 6vh;
    z-index: 200;
    top: 0vh;
    left: 0vh;
}

.player img {
    width: inherit;
    height: inherit;
}

.point1 {
    width: 18.5vh;
}

@media (max-width: 768px) {
    .game-board {
        height: 80vh;
        width: 100%;
    }

    .point {
        width: 14vw;
        height: 14vw;
    }

    .point1 {
        width: 33vw;
    }

    .board-background {
        height: 80vh;
        width: 100%;
    }
}

@media (max-height: 700px) {
    .game-board {
        max-width: 373px;
    }
}

@media (min-width: 3000px) {
    .game-board {
        max-width: 1111px;
    }

    .close-game-board-button {
        z-index: 9;
        position: absolute;
        bottom: 180px;
    }
}